---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: ControlStatements
